<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\AdityaJ\Form60_Mail\LogPath"/>
    <add key="ConnectionStringSql" value="Data Source=10.91.200.20;Initial Catalog=BAL_DSS_PORTAL_USER_LIVE;User Id=ptslive;Password=ptslive1;Max Pool Size=800;Pooling=True;" />
    <add key="Filename" value="ReinstatementDatafile"/>
    <add key="FolderPath" value="D:\AdityaJ\Form60_Mail\FolderPath\"/>
    <add key="SPNAME" value="sp_Reinstatement_MTD_Data"/>

    <add key="str_SMTP_Username" value="bhartiaxapepi"/>
    <add key="str_SMTP_SentTo" value="aditya.jadhav1.ext@bhartiaxa.com;"/>
    <add key="str_SMTP_Host" value="10.145.75.147"/>
    <add key="str_SMTP_Password" value="Bh@rt!@123"/>
    <add key="str_SMTP_Port" value="25"/>
    <add key="str_From_EmailID" value="service@bhartiaxa.com"/>
    <add key="str_SMTP_CC" value="aditya.jadhav1.ext@bhartiaxa.com; swamini.pimpale.ext@bhartiaxa.com"/>
	<!--<add key="str_SMTP_CC" value="dipali.desai.ext@bhartiaxa.com;arun.kamani.ext@bhartiaxa.com;priyanka.denge@heraldlogic.com;sourabh.ugargol@bhartiaxa.com;aditya.jadhav1.ext@bhartiaxa.com; swamini.pimpale.ext@bhartiaxa.com "/>-->
    <add key="HTMLHi" value="Hi Team"/>
    <add key="HTMLBody" value="Please find the report for reinstatement MTD data as attached"/>
    <add key="HTMLThanks" value="DSS/I-Service Team "/>
    <add key="SheetName" value=""/>
    <add key="MailSubject" value="Reinstatement MTD Data"/>
    
  </appSettings>
</configuration>